<div ng-controller="SettingsCtrl">
  <div class="row">
      <div class="col-md-6">
          <div
                  ba-panel
                  ba-panel-title="Source"
                  ba-panel-class="with-scroll">
              <form>
                  <div class="form-group">
                      <label for="backendHost">Backend Host</label>
                      <input type="url" class="form-control" id="backendHost" ng-model="source.host" placeholder="http://192.168.12.17:3700">
                  </div>
                  <input type="submit" class="btn btn-danger" ng-click="source.save()" value="Save" />
              </form>
          </div>
      </div>
      <div class="col-md-6">
          <div  ng-show="source.successMessage" class="alert bg-success closeable animate-show-hide" role="alert">
              <button type="button" ng-click="source.successMessage = false" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Well done!</strong> Successfully updated the source settings.
          </div>
          <div  ng-show="source.failureMessage" class="alert bg-warning closeable animate-show-hide" role="alert">
              <button type="button" ng-click="source.failureMessage = false" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Oh no!</strong> The backend is not responding.
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div
                ba-panel
                ba-panel-title="Appearance"
                ba-panel-class="with-scroll">
            <form>
                <div class="form-group">
                    <label for="chartHeight">Chart Height</label>
                    <input type="number" min="50" max="500" class="form-control" id="chartHeight" ng-model="appearance.chartHeight" placeholder="240">
                </div>
                <input type="submit" class="btn btn-danger" ng-click="appearance.save()" value="Save" />
            </form>
        </div>
    </div>
  </div>
</div>
