<div class="row">
    <div data-node="ns=4;i=6006" ng-controller="ChartCtrl" class="col-lg-6 col-md-6"
         data-vertical-sections="3" data-max="45" data-min="-15">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">Temperature</div>
                <div class="panel-title pull-right">{{value}}°C</div>
            </div>
            <div class="panel-body">
                <canvas height="220" id="temperature"></canvas>
            </div>
        </div>
    </div>
    <div data-node="ns=4;i=6003" ng-controller="ChartCtrl" class="col-lg-6 col-md-6"
         data-min="0" data-max="100" data-vertical-sections="4">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">Humidity</div>
                <div class="panel-title pull-right">{{value}}%</div>
            </div>
            <div class="panel-body">
                <canvas height="220" id="humidity"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div data-node="ns=4;i=6005" ng-controller="ChartCtrl" class="col-lg-6 col-md-6"
         data-vertical-sections="3" data-max="400" data-min="0">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">Air Quality</div>
                <div class="panel-title pull-right">{{value}}</div>
            </div>
            <div class="panel-body">
                <canvas height="220" id="air-quality"></canvas>
            </div>
        </div>
    </div>
    <div data-node="ns=4;i=6004" ng-controller="ChartCtrl" class="col-lg-6 col-md-6"
         data-min="0" data-max="1000" data-vertical-sections="4">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">Ambient Light</div>
                <div class="panel-title pull-right">{{value}} lx</div>
            </div>
            <div class="panel-body">
                <canvas height="220" id="ambient-light"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div data-node="ns=4;i=6002" ng-controller="ChartCtrl" class="col-lg-6 col-md-6"
         data-vertical-sections="3"
         data-max="130" data-min="0"
         data-mean-samples="10">
        <div class="panel">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">Loudness</div>
                <div class="panel-title pull-right">{{value}} dB</div>
            </div>
            <div class="panel-body">
                <canvas height="220" id="air-quality"></canvas>
            </div>
        </div>
    </div>
</div>
